* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    padding: 15px 25px;
    border-radius: 7px;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.card {
    background-color: #0099e6;
    max-width: 400px;
    color: white;
    border-radius: 7px;
    box-shadow: 5px 5px 20px #AAAAAA;
}

.card h2{
    text-align: center;
    padding: 25px;
}

.card img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.card p {
    margin-left: 50px;
}

#like {
    color: green;
}

#dislike {
    color: red;
}

.likedList h1{
    color: green;
}

.dislikedList h1{
    color: red;
}

#box {
    width: 400px;
    height: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#wrapper {
    width: 500px;
    margin: 0 auto;
}
  

.dropzone {
    width: 450px;
    height: 750px;
    float: left;
    border: 2px dashed #0099e6;
    margin: 15px;
}

.like {
    border: 2px dashed green;
}

.dislike {
    border: 2px dashed red;
}